.hc-c-header {
  box-shadow: 0 0 10px 0 $color-gray-light;
}

// Add `ds-l-col.ds-l-col--auto` to give a higher specificity. This fixes the
// grid utility classes taking precedence over this class, which results in
// `flex-shrink` not getting applied on small width screen.
.hc-c-logo-link.ds-l-col.ds-l-col--auto {
  bottom: -2px; // optically aligns logo
  display: inline-block;
  flex-shrink: 1;
  line-height: 1;
  position: relative;

  svg {
    max-width: 100%;
  }
}

.hc-c-header__subhead {
  font-family: $font-serif;
  font-size: $h4-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-normal;
  margin: 0;
}

.hc-c-header__subhead--inline {
  border-left: 1px solid $color-base;
  display: none;
  padding-left: $spacer-2;

  .hc-c-header--inverse & {
    border-left-color: $color-white;
  }
}

.hc-c-action-menu-button {
  border-width: 1px;
  min-width: 8ch; // prevent movement when the label is toggled

  .ds-c-clear-icon {
    margin-right: 8px;
  }
}

.hc-c-header__close-icon {
  height: 100%;
}

.hc-c-logged-out-links__li {
  border-left: 1px solid $border-color-dark;
  display: inline-block;
  margin: 0;
  padding-left: $spacer-2;
  padding-right: $spacer-2;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  .hc-c-header--inverse & {
    border-left-color: $color-white;
  }
}

.hc-c-header__name {
  color: $color-base;
}

.hc-c-logged-out-links__link {
  text-decoration: none;

  .hc-c-header--inverse & {
    color: $color-base-inverse;

    &:active,
    &:focus,
    &:hover {
      color: $color-base-inverse;
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
